<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pug.mapper.KssUserMapper">


<!--    <resultMap id="KssUserMap" type="com.ksd.pug.pojo.KssUsers">-->
<!--        <id property="userid" column="userid" jdbcType="BIGINT"></id>-->
<!--        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"></result>-->
<!--        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"></result>-->
<!--        <result property="status" column="status" jdbcType="INTEGER"></result>-->
<!--        <result property="username" column="username" jdbcType="VARCHAR"></result>-->
<!--        <result property="usermale" column="usermale" jdbcType="INTEGER"></result>-->
<!--    </resultMap>-->

</mapper>